<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>375770826009-2eg5vuocqc7lr0fmcin0hj65aeeteb1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375770826009-2eg5vuocqc7lr0fmcin0hj65aeeteb1u</string>
	<key>API_KEY</key>
	<string>AIzaSyDNxM8ercdEZUxspSkxeBSdgplkInSgdZk</string>
	<key>GCM_SENDER_ID</key>
	<string>375770826009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.HandShake</string>
	<key>PROJECT_ID</key>
	<string>handshake-7ffdc</string>
	<key>STORAGE_BUCKET</key>
	<string>handshake-7ffdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:375770826009:ios:660a2f4e670cc9a9</string>
	<key>DATABASE_URL</key>
	<string>https://handshake-7ffdc.firebaseio.com</string>
</dict>
</plist>